In [3]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('df_poll.csv')
df

     Unnamed: 0     County  n_poll
0             0    APPLING       9
1             1   ATKINSON       4
2             2      BACON       1
3             3      BAKER       5
4             4    BALDWIN      14
..          ...        ...     ...
154         154  WHITFIELD      23
155         155     WILCOX       6
156         156     WILKES       7
157         157  WILKINSON       9
158         158      WORTH      15

[159 rows x 3 columns]

In [9]:
import time

In [16]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_geopy_application")

location = geolocator.geocode("APPLING County, Georgia, USA")
print(location)

Appling County, Georgia, United States

In [12]:
# Initialize the geolocator with a custom user agent
geolocator = Nominatim(user_agent="my_geopy_application")

# Function to get latitude and longitude
def get_lat_lon(county_name):
    try:
        # Append "County, Georgia, USA" to make the query specific
        location = geolocator.geocode(f"{county_name} County, Georgia, USA")
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            return pd.Series([None, None])  # If no result is found
    except (GeocoderTimedOut, GeocoderServiceError) as e:
        print(f"Error geocoding {county_name}: {e}")
        return pd.Series([None, None])

# Apply the function with a delay
lat_lon_list = []
for county in df["County"]:
    lat_lon_list.append(get_lat_lon(county))
    time.sleep(1)  # Add delay to avoid rate limiting

# Convert the results to a DataFrame
lat_lon_df = pd.DataFrame(lat_lon_list, columns=["latitude", "longitude"])

# Merge results back into the original DataFrame
df = pd.concat([df, lat_lon_df], axis=1)

# Display the updated DataFrame
print(df)

     Unnamed: 0     County  n_poll  latitude  longitude
0             0    APPLING       9       NaN        NaN
1             1   ATKINSON       4       NaN        NaN
2             2      BACON       1       NaN        NaN
3             3      BAKER       5       NaN        NaN
4             4    BALDWIN      14       NaN        NaN
..          ...        ...     ...       ...        ...
154         154  WHITFIELD      23       NaN        NaN
155         155     WILCOX       6       NaN        NaN
156         156     WILKES       7       NaN        NaN
157         157  WILKINSON       9       NaN        NaN
158         158      WORTH      15       NaN        NaN

[159 rows x 5 columns]

In [18]:
import pandas as pd
import time
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut, GeocoderServiceError

# Initialize geolocator with a custom user agent
geolocator = Nominatim(user_agent="my_geopy_application")

# Function to get latitude and longitude
def get_lat_lon(county_name):
    try:
        # Query the geocoder
        location = geolocator.geocode(f"{county_name} County, Georgia, USA")
        if location:
            return pd.Series([location.latitude, location.longitude])
        else:
            print(f"No result for {county_name}")
            return pd.Series([None, None])
    except (GeocoderTimedOut, GeocoderServiceError) as e:
        print(f"Error geocoding {county_name}: {e}")
        return pd.Series([None, None])

# Apply the function with a delay
lat_lon_list = []
for county in df["County"]:
    lat_lon_list.append(get_lat_lon(county))
    time.sleep(2)  # Longer delay to avoid rate limiting

# Convert results to DataFrame
lat_lon_df = pd.DataFrame(lat_lon_list, columns=["latitude", "longitude"])

# Merge results back into the original DataFrame
df = pd.concat([df, lat_lon_df], axis=1)

# Display the updated DataFrame
print(df)

     Unnamed: 0     County  n_poll  latitude  longitude
0             0    APPLING       9       NaN        NaN
1             1   ATKINSON       4       NaN        NaN
2             2      BACON       1       NaN        NaN
3             3      BAKER       5       NaN        NaN
4             4    BALDWIN      14       NaN        NaN
..          ...        ...     ...       ...        ...
154         154  WHITFIELD      23       NaN        NaN
155         155     WILCOX       6       NaN        NaN
156         156     WILKES       7       NaN        NaN
157         157  WILKINSON       9       NaN        NaN
158         158      WORTH      15       NaN        NaN

[159 rows x 5 columns]

In [11]:
get_lat_lon('BIBB')

0    32.809588
1   -83.694562
dtype: float64

In [15]:
df.describe()

       Unnamed: 0      n_poll  latitude  longitude
count  159.000000  159.000000       0.0        0.0
mean    79.000000   16.842767       NaN        NaN
std     46.043458   38.730901       NaN        NaN
min      0.000000    1.000000       NaN        NaN
25%     39.500000    5.000000       NaN        NaN
50%     79.000000    8.000000       NaN        NaN
75%    118.500000   14.000000       NaN        NaN
max    158.000000  394.000000       NaN        NaN

In [ ]:

# Optionally save to a CSV file
df.to_csv('counties_with_lat_lon.csv', index=False)